* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Raleway', Helvetica, sans-serif;
    min-height: 100%;
  }
  header {
    display: grid;
    position: fixed;
    overflow: hidden;
    background-color: #f9f4ed;
    padding: 0.8em 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .header-navbar {
    text-align: center;
    justify-self: center;
  }
  .header-menu {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-menu li {
    list-style-type: none;
  }
  .nav-link {
    text-decoration: none;
    color: #555;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 900;
  }
  main {
   min-height: calc(100vh - 8em);
 }

  .contact-style, 
  footer {
    display: grid;
    justify-items: center;
    padding: 0.7em;
    background-color: #85d836;
  }
  .contact-style {
    height: 4em;
  }
  .contact-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .contact-item {
    list-style-type: none;
    margin: 1em;
    text-align: center;
  }
  .fa {
    color: white;
    font-size: 5em;
  }
  .fa:hover, .nav-link:hover {
    color: #ae003a;
    transition: .5s;
  }
  .fa-heart {
    font-size: 1em;
    color: #ae003a;
  }
  .fa-mobile {
    font-size: 7em;
  }
  footer {
    background: #530053;
    color: #fff;
  }